<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
            <add name="Python via FastCGI" path="*" verb="*" modules="CgiModule" scriptProcessor="C:\Users\richa\DIANTARER PERMATA AJE\Programming\Project Jarak\venv\Scripts\python.exe" resourceType="File" />
      <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python312\python.exe|C:\Users\richa\DIANTARER PERMATA AJE\Programming\Project Jarak\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="public/{R:0}" />
        </rule>
        <rule name="Flask" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="index.fcgi/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>